
<div class="bg"></div>
<div class="container">
  <div class="overlay"></div>
  <div class="red"></div>
  <div class="bracket1"></div>
  <div class="bracket2"></div>
  <div class="addschool">If the search does not return your school, add it by clicking here</div>
  <div class="title">
    Lemon Board <i class="fa fa-lemon-o lemon" aria-hidden="true"></i>
  </div>
  <hr>
  <div class="main">
    <div class="boi2">
       <div class="words">Search for your school to get started:</div>
       <form> <i class="fa fa-search search" aria-hidden="true"></i>
         <input type="text" ng-model="search" ng-keyup="searchSchoolsn()"></input>
       </form>
       <div id="schoolid" class="schoolcont">
			   <div id="{{$index + 1}}" class="schoolname" ng-repeat="x in dschools | limitTo : 10">{{x}}</div>

       </div>
    </div>
  </div>
</div>
