<div class="bodycontainer">
<div class="bglul"></div>
<div class="container">
  <div class="red"></div>
  <div class="bracket1"></div>
  <div class="bracket2"></div>
  <div class="titlelul">
    Lemon Board <i class="fa fa-lemon-o lemon" aria-hidden="true"></i>
  </div>
  <hr class="hra">
  <div class="main1">
    <div class="boi2">
       <div class="add1">

         <form>
           <div class="input-group">
             Add a School:
             <input class="inputmain1" type="text" placeholder="School Name" ng-model="schoolsCtrl.newSchool.name">
             <i ng-click="schoolsCtrl.createSchool()" class="fa fa-plus" aria-hidden="true"></i>
           </div>
         </form>
       </div>
    </div>
  </div>
</div>
</div>
