<ui-view>
<div>
  <div class="sidebar">

    <div>
      <h2>lemonBoard</h2>
    </div>

    <div class="channel-list">
      <div class="list-head">Schools</div>
      <div ng-repeat="school in schoolsCtrl.schools">
        <span ui-sref="schools.subjects({schoolId: school.$id})">{{school.name}}</span>
      </div>
      <div>
        <a ui-sref="schools.create">add a school</a>
      </div>
    </div>

  </div>
</div>

<div class="bg"></div>
<div class="container">
  <div class="overlay"></div>
  <div class="red"></div>
  <div class="bracket1"></div>
  <div class="bracket2"></div>
  <div class="addschool">If the search does not return your school, add it by clicking here</div>
  <div class="title">
    Lemon Board <i class="fa fa-lemon-o lemon" aria-hidden="true"></i>
  </div>
  <hr>
  <div class="main1">
    <div class="boi2">
       <div class="words">Search for your school to get started:</div>
       <form> <i class="fa fa-search search" aria-hidden="true"></i>
         <input type="text" ng-model="schoolsCtrl.search" ng-keyup="schoolsCtrl.searchSchoolsn()"></input>
       </form>
       <div id="schoolid" class="schoolcont">
			   <div id="{{school.$id}}" class="schoolname" ng-repeat="school in schoolsCtrl.schools | limitTo : 10">{{school.name}}</div>

       </div>
    </div>
  </div>
</div>
</ui-view>
