<!-- <div>
  <div class="sidebar">

    <div>
      <h2>{{classesCtrl.subjectName}}</h2>
    </div>

    <div class="channel-list">
      <div class="list-head">Classes</div>
      <div ng-repeat="class in classesCtrl.classes">
        <span ui-sref="schools.subjects.teachers({schoolId:classesCtrl.schoolId, subjectId:classesCtrl.subjectId, subjectName: classesCtrl.subjectName, className: class.name})">{{class.name}}</span>
      </div>
      <div>
        <a ui-sref="schools.subjects.classes.create">add a class</a>
      </div>
    </div>

  </div>
</div>
<ui-view></ui-view> -->
<ui-view>
<div class="titlebar">
  <i class="fa fa-lemon-o lemon1" aria-hidden="true"></i>lemon board - {{classesCtrl.subjectName}}
</div>
<div class="add">

  <form>
    <div class="input-group">
      Add a Class:
      <input type="text" placeholder="Class Name" ng-model="classesCtrl.newClass.name">
      <i ng-click="classesCtrl.createClass()" class="fa fa-plus" aria-hidden="true"></i>
    </div>
  </form>
</div>
<div class="schoolscont">
  <div class="schoolname" ng-repeat="class in classesCtrl.classes" ui-sref="schools.subjects.classes.messages({classId:class.$id})">
    {{class.name}}
  </div>

</div>
</ui-view>
