<!-- <div>
  <div>
    <h1>Add a Subject</h1>
  </div>

  <form ng-submit="subjectsCtrl.createSubject()">
    <div class="input-group">
      <input type="text" placeholder="Subject Name" ng-model="subjectsCtrl.newSubject.name">
    </div>
    <input type="submit" value="Add Subject">
  </form>
</div> -->


<div>
  <div>
    <h1>Add a Subject</h1>
  </div>

  <form>
    <div class="input-group">
      Add a Subject:
      <input class="inputmain" type="text" placeholder="Subject Name" ng-model="subjectsCtrl.newSubject.name">
      <i ng-click="subjectsCtrl.createSubject()" class="fa fa-plus" aria-hidden="true"></i>
    </div>
  </form>
</div>
