<!-- <div>
  <div class="sidebar">

    <div>
      <h2>{{subjectsCtrl.schoolName}}</h2>
      llklljlj
    </div>

    <div class="subject-list">
      <div class="list-head">Subjects</div>
      <div ng-repeat="subject in subjectsCtrl.subjects">
        <span ui-sref="schools.subjects.classes({schoolId: subjectsCtrl.schoolId, subjectId: subject.$id})">{{subject.name}}</span>
      </div>
      <div>
        <a ui-sref="schools.subjects.create">add a subject</a>
      </div>
    </div>

  </div>
</div> -->
<div class="body">
<div class="bg"></div>
<div class="main">

  <div class="sidebar">
    <ul class="ul1">
      <hr class="shr">
      <li ng-click="showClasses({{subject.name}})" ng-repeat="subject in subjectsCtrl.subjects">
        <div class="classli" ui-sref="schools.subjects.classes({schoolId: subjectsCtrl.schoolId, subjectId: subject.$id})">{{subject.name}}</div>
      </li>

    </ul>
  </div>
  <div class="reststuff">
    <ui-view>
    <div class="titlebar">
      <i class="fa fa-lemon-o lemon1" aria-hidden="true"></i>lemon board
    </div>
  </ui-view>
  </div>
</div>
</div>
<script type="text/javascript">
  var app = angular.module("CapApp", []);
  app.controller('lul', function($scope){
    $scope.mathclasses=["ap calc","computer science", "statistics"];
    $scope.engclasses=["ap calc","computer science", "statistics"];
    $scope.ssclasses=["ap calc","computer science", "statistics"];
    $scope.sciclasses=["ap calc","computer science", "statistics"];
    $scope.etcclasses=["ap calc","computer science", "statistics"];
    $scope.showClasses = function(x){
      var holder = 'sub' + x.replace(" ", "");
      document.getElementById(holder).style.display = "block";
    }
  });
</script>
</body>
</html>
