<!-- <div>
  <div class="sidebar">

    <div>
      <h2>{{subjectsCtrl.schoolName}}</h2>
      llklljlj
    </div>

    <div class="subject-list">
      <div class="list-head">Subjects</div>
      <div ng-repeat="subject in subjectsCtrl.subjects">
        <span ui-sref="schools.subjects.classes({schoolId: subjectsCtrl.schoolId, subjectId: subject.$id})">{{subject.name}}</span>
      </div>
      <div>
        <a ui-sref="schools.subjects.create">add a subject</a>
      </div>
    </div>

  </div>
</div> -->
<div class="body">
<div class="bg"></div>
<div class="main">

  <div class="sidebar">
    <div style="text-align:center;font-size:1.3em;">Subjects</div>
    <ul class="ul1">
      <hr class="shr">
      <li ng-repeat="subject in subjectsCtrl.subjects">
        <div class="classli" ui-sref="schools.subjects.classes({schoolId: subjectsCtrl.schoolId, subjectId: subject.$id})">{{subject.name}}</div>
      </li>
      <li class="classli" ui-sref="schools.subjects.create">
          Add a Subject
      </li>
    </ul>
  </div>
  <div class="reststuff">
  <ui-view>
    <div class="titlebar">
      <span ui-sref="schools"><i class="fa fa-lemon-o lemon1" aria-hidden="true"></i>Lemon Board</span>
    </div>
  </ui-view>
  </div>
</div>
</div>
</body>
</html>
