<!-- <div>
  <div class="sidebar">

    <div>
      <h2>{{subjectsCtrl.schoolName}}</h2>
      llklljlj
    </div>

    <div class="subject-list">
      <div class="list-head">Subjects</div>
      <div ng-repeat="subject in subjectsCtrl.subjects">
        <span ui-sref="schools.subjects.classes({schoolId: subjectsCtrl.schoolId, subjectId: subject.$id})">{{subject.name}}</span>
      </div>
      <div>
        <a ui-sref="schools.subjects.create">add a subject</a>
      </div>
    </div>

  </div>
</div> -->
<div class="body">
<div class="bg"></div>
<div class="main">

  <div class="sidebar">
    <ul class="ul1">
      <hr class="shr">
      <li ng-click="showClasses('math')">
        <div class="classli">Math</div>
        <ul class="submath" id="submath">
          <li ng-repeat="x in mathclasses">{{x}}</li>
        </ul>
      </li>
      <li ng-click="showClasses('english')">
        <div class="classli">English</div>
        <ul class="subeng" id="subenglish">
          <li ng-repeat="x in engclasses">{{x}}</li>
        </ul>
      </li>
      <li ng-click="showClasses('social studies')">
        <div class="classli">Social Studies</div>
        <ul class="subss" id="subsocialstudies">
          <li ng-repeat="x in ssclasses">{{x}}</li>
        </ul>
      </li>
      <li ng-click="showClasses('science')">
        <div class="classli">Science</div>
        <ul class="subsci" id="subscience">
          <li ng-repeat="x in sciclasses">{{x}}</li>
        </ul>
      </li>
      <li ng-click="showClasses('et cetera')">
        <div class="classli">Et Cetera</div>
        <ul class="subetc" id="subetcetera">
          <li ng-repeat="x in etcclasses">{{x}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="reststuff">
    <div class="titlebar">
      lemon board <i class="fa fa-lemon-o lemon" aria-hidden="true"></i> - AP Calculus
    </div>
    <div class="add">

      <form>
        <div class="input-group">
          Add a Teacher:
          <input class="inputmain" type="text" placeholder="Teacher Name" ng-model="schoolsCtrl.newSchool.name">
          <i ng-click="schoolsCtrl.createSchool()" class="fa fa-plus" aria-hidden="true"></i>
        </div>
      </form>
    </div>
    <div class="schoolscont">
      <div class="school">
        Kurdziel
      </div>
      <div class="school">
        Moore
      </div>
      <div class="school">
        Kinney
      </div>
      <div class="school">
        Dinneen
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
  var app = angular.module("CapApp", []);
  app.controller('lul', function($scope){
    $scope.mathclasses=["ap calc","computer science", "statistics"];
    $scope.engclasses=["ap calc","computer science", "statistics"];
    $scope.ssclasses=["ap calc","computer science", "statistics"];
    $scope.sciclasses=["ap calc","computer science", "statistics"];
    $scope.etcclasses=["ap calc","computer science", "statistics"];
    $scope.showClasses = function(x){
      var holder = 'sub' + x.replace(" ", "");
      document.getElementById(holder).style.display = "block";
    }
  });
</script>
</body>
</html>

<ui-view></ui-view>
